// out:App.css

// Imports
@import './3L/3L.less';
@import './fonts.css';
@import './mixins.less';


// Variables
@PrimaryColor: #3AAFA9;
@SecondaryColor: #17252A;
@AccentColor: #ffffff;

@HeadingFont: 'Viga';
@HeadingSize: 58px;
@BodyFont: 'Inconsolata';
@SubSize: 18px;
@BodySize: 16px;
@FontWeight: 400;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 960px;
  margin: 0 auto;
  height: auto;
  position: relative;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
  flex-direction: row;
}

p {
  font-family: @BodyFont;
  font-size: @BodySize;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.main-headings {
  color: @SecondaryColor;
  font-size: 58px;
  text-transform: uppercase;
  font-family: @HeadingFont;
}

.header {
  position: relative;
  width: 100%;
  .calcheight(~"100vh - 50px");
  background: @PrimaryColor;
  min-height: 550px;
  margin-bottom: 250px;
  .header-container {
    height: 100%;
    position: absolute;
    left: 50%;
    .transform(translate(-50%,0));
    bottom: 0;
    .header-line {
      position: absolute;
      left: 20px;
      bottom: -289px;
      width: 4px;
      height: 0;
      opacity: 0;
      background: @SecondaryColor;
      border-radius: 7px;
      .transition(all 1s ease-in-out);
      &:before {
        content: "about me";
        font-family: @BodyFont;
        font-weight: bold;
        font-size: 20px;
        color: @SecondaryColor;
        position: absolute;
        top: -70px;
        white-space: nowrap;
        left: -36px;
        .transform(rotate(90deg));
        opacity: 0;
        .transition(all 0.5s ease-in-out 1.2s);
      }
      &:after {
        content:"";
        width: 45px;
        height: 47px;
        position: absolute;
        left: 50%;
        bottom: -95px;
        .transform(translate(-50%,0));
        background: url('../images/cross.svg') no-repeat center center;
        .background-size(cover);
      }
      @media(max-width: 980px) {
        left: 40px;
        height: 0;
        bottom: -100px;
      }
      &.animate {
        height: 530px;
        opacity: 1;
        @media(max-width: 980px) {
          height: 350px;
        }
        &:before {
          opacity: 1;
        }
      }
    }
  }
  .headerContent {
    position: relative;
    width: 100%;
    height: 100px;
    .headerLogo {
      font-family: @HeadingFont;
      font-weight: @FontWeight;
      font-size: 36px;
      line-height: 48px;
      color: #fff;
      position: absolute;
      top: 50%;
      .transform(translate(0,-50%));
      left: 35px;
      text-decoration: none;
    }
    .headerNavigation {
      position: absolute;
      top: 50%;
      right: 135px;
      z-index: 99;
      height: 48px;
      .transform(translate(0,-50%));
      margin: 0;
      list-style-type: none;
      padding: 0;
      a {
        text-decoration: none;
        li {
          padding: 0 13px;
          line-height: 48px;
          float: left;
          font-family: @BodyFont;
          .transition(all 0.3s cubic-bezier(.22,.16,1,.76));
          font-size: @BodySize;
          font-weight: bold;
          color: @SecondaryColor;
          position: relative;
          &:after {
            content: "";
            width: 0%;
            height: 4px;
            background: #fff;
            position: absolute;
            left: 50%;
            border-radius: 7px;
            bottom: 0px;
            .transition(all 0.3s cubic-bezier(.22,.16,1,.76));
            .transform(translate(-50%,0))
          }
          &:hover {
            color: #fff;
            &:after {
              width: 60%;
            }
          }
        }
      }
    }
  }
  .headerHello {
    font-family: @BodyFont;
    font-weight: bold;
    font-size: 10rem;
    line-height: 11rem;
    color: @AccentColor;
    position: absolute;
    bottom: 90px;
    right: -100px;
    @media(max-width: 1200px) {
      right: 20px;
    }
    @media(max-width: 890px) {
      bottom: 10px;
      font-size: 100px;
    }
    @media(max-width: 500px) {
      font-size: 65px;
    }
  }
}

section {
  width: 100%;
  position: relative;
  height: auto;
}

#speak-code {
  position: relative;
  padding-bottom: 70px;
  .speak-line {
    width: 4px;
    .calcheight(~"100% - 239px");
    position: absolute;
    top: 239px;
    border-radius: 7px;
    left: 50%;
    .transform(translate(-50%,0));
    background: @SecondaryColor;
  }
  .main-headings {
    width: 100%;
    text-align: right;
  }
  .speak-bio {
    justify-content: flex-end;
    margin-top: 40px;
    p {
      flex-basis: 340px;
      position: relative;
      &:before {
        content: "";
        width: 100px;
        position: absolute;
        height: 4px;
        border-radius: 7px;
        bottom: 4px;
        left: -120px;
        background: @SecondaryColor;
      }
    }
  }
  
  .skills {
    flex-direction: row;
    flex-flow: wrap;
    margin-top: 60px;
    justify-content: space-between;
    .skill-item {
      flex-basis: 422px;
      margin-bottom: 20px;
      .skill-heading {
        font-family: @BodyFont;
        font-weight: bold;
        font-size: 16px;
        color: @SecondaryColor;
        flex: 1;
      }
      .skill-details {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .skill-bar {
          height: 10px;
          border-radius: 30px;
          background: #E3EAF1;
          width: 100%;
          position: relative;
          .skill-fill {
            position: absolute;
            left: 0;
            top: 0;
            height: 10px;
            width: 100%;
            background: @PrimaryColor;
            border-radius: 30px;
            width: 0%;
            .transition(all 0.7s ease-in-out 0.3s);
          }
        }
        .skill-percentage {
          font-family: @HeadingFont;
          font-weight: 400;
          font-size: 28px;
          color: @SecondaryColor;
          margin-left: 10px;
          text-align: center;
        }
      }
    }
  }

  @media(max-width: 980px) {
    .main-headings {
      padding: 0 !important;
      text-align: center;
    }
    .speak-line {
      display: none;
    }
    .skill-item {
      flex-basis: 100% !important;
      .skill-bar {
        flex: 1;
      }
    }
    .speak-bio {
      p {
        flex-basis: 100%;
        text-align: center;
        &:before {
          display: none;
        }
      }
    }
  }
}



#journey {
  padding: 70px 0;
  margin-bottom: 85px;
  .journey-line {
    width: 4px;
    background: @SecondaryColor;
    border-radius: 7px;
    position: absolute;
    top: -2px;
    height: 100%;
    left: 50%;
    .transform(translate(-50%,0));
    &:after {
      content: '';
      width: 45px;
      height: 47px;
      background: url('../images/cross.svg') no-repeat center center;
      .background-size(cover);
      position: absolute;
      bottom: -85px;
      left: 50%;
      .transform(translate(-50%,0))
    }
  }
  .main-headings {
    margin-bottom: 40px;
    text-indent: 50px;
  }
  .experience {
    flex-direction: column;
    .experience-item {
      margin-bottom: 90px;
      padding-right: 54%;
      text-align: right;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      .experience-dot {
        width: 21px;
        height: 21px;
        border-radius: 21px;
        background: @PrimaryColor;
        position: absolute;
        left: 50%;
        .transform(translate(-50%,0));
        top: 0;
      }
      &.right {
        text-align: left;
        padding-right: 0;
        padding-left: 54%;
      }
      .experience-timeline {
        width: 100%;
        font-family: @HeadingFont;
        font-weight: 400;
        color: @SecondaryColor;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      p {
        color: #646565;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
  @media(max-width: 980px) {
    .experience {
      &:before {
        content: "";
        width: 4px;
        background: @SecondaryColor;
        border-radius: 7px;
        position: absolute;
        top: 0;
        .calcheight(~"100% + 70px");
        left: 50%;
        .transform(translate(-50%,0));
      }
      &:after {
        content: '';
        width: 45px;
        height: 47px;
        background: url('../images/cross.svg') no-repeat center center;
        .background-size(cover);
        position: absolute;
        bottom: -155px;
        left: 50%;
        .transform(translate(-50%,0))
      }
    }
    .journey-line {
      display: none;
    }
    .main-headings {
      text-indent: 0;
      text-align: center;
      width: 100%;
    }
    .experience-item {
        padding-right: 58% !important;
      &.right {
        padding-left: 58% !important;
        padding-right: 0 !important;
      }
    }
  }
}



#lets-talk {
  padding: 40px 0 0 0;
  background: #fff;
  margin-top: 70px;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 163px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: @SecondaryColor;
  }
  .talk {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .resume {
      flex-basis: 344px;
      p {
        width: 100%;
        margin-bottom: 45px;
      }
      .button {
        border: 0;
        padding: 11px 50px 11px 80px;
        background: @PrimaryColor;
        color: #fff;
        text-align: center;
        font-family: @HeadingFont;
        font-weight: 400;
        font-size: @SubSize;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        .transition(all 0.3s ease-in-out);
        &:before {
          content: "";
          width: 20px;
          height: 21px;
          position: absolute;
          left: 50px;
          top: 50%;
          .transform(translate(0,-50%));
          background: url('../images/download.svg') no-repeat center center;
          .background-size(cover);
        }
        &:hover {
          background: darken(@PrimaryColor, 10%);
        }
      }
    }
    form {
      flex-basis: 460px;
      background: #fff;
      box-sizing: border-box;
      padding: 28px 40px 45px 40px;
      -webkit-box-shadow: 1px 0px 3px 1px rgba(0,0,0,0.12);
      -moz-box-shadow: 1px 0px 3px 1px rgba(0,0,0,0.12);
      box-shadow: 1px 0px 3px 1px rgba(0,0,0,0.12);
      .main-headings {
        margin-bottom: 35px;
      }
      .form-submit {
        width: 100%;
        background: @PrimaryColor;
        height: 51px;
        line-height: 51px;
        text-align: center;
        font-family: @HeadingFont;
        font-weight: 400;
        outline: none;
        font-size: 18px;
        border: 0;
        cursor: pointer;
        color: #fff;
        .transition(all 0.3s ease-in-out);
        &:hover {
          background: darken(@PrimaryColor, 10%);
        }
      }
      .input-holder {
        position: relative;
        margin-bottom: 40px;
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px white inset;
        }
        .placeholder {
          font-family: @BodyFont;
          font-weight: bold;
          text-transform: uppercase;
          font-size: @BodySize;
          color: #646565;
          position: absolute;
          left: 15px;
          top: 3px;
          .transition(all 0.3s ease-in-out);
          &.animate {
            top: -22px;
          }
        }
        textarea {
          font-family: @BodyFont;
          font-weight: bold;
          font-size: @BodySize;
          color: #000;
          box-sizing: border-box;
          padding: 2px 14px 5px 14px;
          width: 100%;
          min-width: 380px;
          max-width: 380px;
          max-height: 97px;
          min-height: 97px;
          outline: none;
          background: transparent;
          border: 0;
          height: 97px;
          line-height: 18px;
          border-left: 1px solid #000;
          border-bottom: 1px solid #000;
          border-right: 1px solid #000;
          position: relative;
          z-index: 99;
        }
        input {
          font-family: @BodyFont;
          font-weight: bold;
          font-size: @BodySize;
          color: #646565;
          box-sizing: border-box;
          padding: 2px 14px 5px 14px;
          width: 100%;
          outline: none;
          background: transparent;
          border: 0;
          height: 27px;
          line-height: 25px;
          color: #000;
          border-left: 1px solid #000;
          border-bottom: 1px solid #000;
          border-right: 1px solid #000;
          position: relative;
          z-index: 99;
          &.special {
            height: 97px;
            border-top: 1px solid #000;
          }
        }
      }
    }
  }
  @media(max-width: 980px) {
    margin-top: 0;
    .main-headings {
      text-align: center;
    }
    .talk {
      justify-content: center;
    }
    form {
      flex-basis: 100% !important;
    }
    textarea {
      width: 100% !important;;
      max-width: 100% !important;;
      min-width: 100% !important;
    }
    .resume {
      flex-basis: 100% !important;
      margin-bottom: 40px;
      text-align: center;
    }
  }
}


#projects {
    background: #fff;
    margin:  150px 0 70px 0;
  .main-headings {
    position: relative;
    margin-bottom: 40px;
    &:after {
      content: "";
      width: 100px;
      height: 4px;
      border-radius: 7px;
      background: @SecondaryColor;
      position: absolute;
      top: 50%;
      right: -135px;
      .transform(translate(0,-50%));
    }
  }
  .projects-all {
    width: 1250px;
    margin: 0 auto;
    height: auto;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    .transition(all 0.2s ease-in-out);
    &.show {
      height: auto;
      opacity: 1;
    }
    &.hide {
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
    .slick-dots {
      position: absolute;
      bottom: -40px;
      left: 0;
      display: inline-block;
      text-align: center;
      margin: 0;
      padding: 0;
      z-index: 999;
      width: 100%;
        li {
          list-style-type: none;
          margin: 0 5px;
          display: inline-block;
          button {
            width: 15px;
            height: 15px;
            padding: 0;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
            background: #fff;
            color: transparent;
            border: 2px solid @PrimaryColor;
            display: inline-block;
            .transition(all 0.3s ease-in-out);
          }
          &.slick-active {
            button {
              background: @PrimaryColor;
            }
          }
        }
    }
    .slick-slide {
      padding: 0 5px;
      outline: none;
      box-sizing: border-box
    }
    .slider-item {
      padding-bottom: 100%;
      height: 0;
      outline: none;
      overflow: hidden;
      position: relative;
      background: @PrimaryColor;
      .first-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%,-50%));
        background-repeat: no-repeat;
        background-position: center center;
        .background-size(cover);
      }
      .second-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%,-50%) scale(1.1));
        background-repeat: no-repeat;
        background-position: center center;
        .background-size(cover);
        opacity: 0;
        .transition(all 0.3s cubic-bezier(.22,.16,1,.76));
      }
      &:hover {
        .second-image {
          opacity: 1;
          .transform(translate(-50%,-50%) scale(1));
        }
      }
    }
  }
  .projects {
    flex-flow: row wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
    justify-content: flex-start;
    align-items: flex-start;
    &.animate {
      width: 1250px;
      .project-item {
        margin: 0 5px !important;
        width: 292px !important;
        height: 297px !important;
      }
      // .project-item:nth-child(2) {
      //   transition-delay: 0.2s;
      // }
      // .project-item:nth-child(3) {
      //   transition-delay: 0.4s;
      // }
      // .project-item:nth-child(4) {
      //   transition-delay: 0.6s;
      // }
      .project-item:nth-child(5), .project-item:nth-child(6), .project-item:nth-child(7),  {
        opacity: 0;
        height: 0 !important;
        .transition(all 0s ease-in-out);
      }
      @media (min-width: 980px) and (max-width: 1280px) {
        width: 100% !important;
        .project-item {
         .calcwidth(~"24% - 10px") !important;
        }
        .project-item:nth-child(4) {
          .transition(all 0.7s ease-in-out);
         }
      }
      @media (min-width: 500px) and (max-width: 980px) {
        &.show {
          display: flex;
        }
        &.hide {
          display: none;
        }
        &.animate {
          .project-item {
            margin: 0 0 20px 0 !important;
            height: 237px;
            .calcwidth(~"50% - 10px") !important;
            .transition(all 0s);
          }
          .project-item:nth-child(3) {
            opacity: 0;
            height: 0 !important;
          }
          .project-item:nth-child(4) {
            opacity: 0;
            height: 0 !important;
          }
        }
      }
      @media(max-width: 500px) {
        .project-item {
          width: 100% !important;
        }
        .project-item:nth-child(2) {
          opacity: 0;
          height: 0 !important;
        }
        .project-item:nth-child(3) {
          opacity: 0;
          height: 0 !important;
        }
        .project-item:nth-child(4) {
          opacity: 0;
          height: 0 !important;
        }
      }
    }
    &.show {
      display: flex;
    }
    &.hide {
      height: 0;
      opacity: 0;
    }
    .project-item {
      background-position: center center;
      background-repeat: no-repeat;
      .background-size(cover);
      position: relative;
      overflow: hidden;
      .transition(all 1s ease-in-out);
      .second-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        .transform(translate(-50%,-50%) scale(1.1));
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0;
        .background-size(cover);
        .transition(all 0.3s cubic-bezier(.22,.16,1,.76));
      }
      &.project-1 {
        height: 470px;
        width: 871px; 
        margin-left: -291px;
      }
      &.project-2 {
        width: 340px;
        height: 237px;
      }
      &.project-3 {
        width: 340px;
        margin-top: 237px;
        margin-left: -340px;
        height: 463px;
      }
      &.project-4, &.project-5 {
        width: 290px;
        margin-top: -230px;
        height: 230px;
      }
      &.project-6 {
        width: 580px;
        height: 236px;
      }
      &.view-all {
        width: 340px;
        order: 7;
        height: 236px;
        box-sizing: border-box;
        border: 1px solid #000;
        .button {
          border: 0;
          width: 186px;
          padding: 13px 0;
          background: @PrimaryColor;
          color: #fff;
          text-align: center;
          font-family: @HeadingFont;
          font-weight: 400;
          font-size: @SubSize;
          cursor: pointer;
          text-decoration: none;
          .transition(all 0.3s ease-in-out);
          position: absolute;
          top: 50%;
          left: 50%;
          .transform(translate(-50%,-50%));
          &:hover {
            background: darken(@PrimaryColor, 10%);
          }
        }
      }
      &:hover {
        .second-image {
          opacity: 1;
          .transform(translate(-50%,-50%) scale(1));
        }
      }
    }
  }
  @media(max-width: 1280px) {
    .projects-all {
      width: 100% !important;
    }
  }
  @media(max-width: 980px) {
    margin-bottom: 0;
    .projects {
      justify-content: space-between;
    }
    .main-headings {
      width: 100%;
      text-align: center;
      &:after {
        display: none;
      }
    }
    .project-item {
      .calcwidth(~"50% - 10px") !important;
      margin: 0 0 20px 0 !important;
      height: 237px !important;
      &.view-all {
        width: 100% !important;
      }
    }
  }
  @media(max-width: 500px) {
    .project-item {
      width: 100% !important;
    }
  }
}


#footer {
  background: @SecondaryColor;
  padding: 60px 0 80px 0;
  .footer {
    flex-direction: column;
    justify-content: center;
    .socials {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .footer-icon {
        margin: 0 10px;
        .transform(scale(1));
        .transition(all 0.2s cubic-bezier(.22,.16,1,.76));
        &:hover {
          .transform(scale(1.1));
        }
      }
    }
    .footer-links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      a {
        padding: 0 13px;
        line-height: 22px;
        font-family: @BodyFont;
        font-size: @BodySize;
        font-weight: bold;
        position: relative;
        text-decoration: none;
        color: #fff;
        &:after {
          content: "";
          width: 0%;
          height: 4px;
          background: #fff;
          position: absolute;
          left: 50%;
          border-radius: 7px;
          bottom: -10px;
          .transition(all 0.3s cubic-bezier(.22,.16,1,.76));
          .transform(translate(-50%,0))
        }
        &:hover {
          color: #fff;
          &:after {
            width: 60%;
          }
        }
      }
    }
  }
}
.p-right-250 {
  padding-right: 250px;
}

.p-right-150 {
  padding-right: 150px;
}







@media(max-width: 980px) {
  .container {
    width: 100% !important;
  }
}

@media(max-width: 980px) {
  .headerNavigation {
    display: none;
  }
}


@import "~slick-carousel/slick/slick.css";
