@import 'fonts.css';
@media (max-width: 750px) {
  .headerNavigation {
    display: none;
  }
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.header {
  position: relative;
  width: 100%;
  height: -moz-calc(100vh - 10px);
  height: -o-calc(100vh - 10px);
  height: -webkit-calc(100vh - 10px);
  height: calc(100vh - 10px);
  background: #3AAFA9;
}
.header .headerContent {
  position: relative;
  width: 100%;
  height: 100px;
}
.header .headerContent .headerLogo {
  font-family: 'Viga';
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 25px;
  text-decoration: none;
}
.header .headerContent .headerNavigation {
  position: absolute;
  top: 50%;
  right: 25px;
  height: 48px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.header .headerContent .headerNavigation a {
  text-decoration: none;
}
.header .headerContent .headerNavigation a li {
  padding: 0 13px;
  line-height: 48px;
  float: left;
  font-family: 'Inconsolata';
  font-size: 16px;
  font-weight: bold;
  color: #17252A;
}
.header .headerHello {
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: 10rem;
  line-height: 11rem;
  color: #ffffff;
  position: absolute;
  bottom: 70px;
  right: 70px;
}
